
.cat-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 50px 0;
  justify-content: center;
}

.cat-item {
  width: 130px;
  border: 2px solid rgb(var(--main-color));
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  font-weight: 800;
  cursor: pointer;
  transition: var(--main-transtion-duration);
}

.cat-item:hover {
  background-color: rgb(var(--main-color));
}

.cat-item.active {
  background-color: rgb(var(--main-color));
}