

.background {
    position: fixed;
    background: rgba(0, 0, 0, .75);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 888;
  }
  

.movie-form {
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #FFF;
    border-radius: 30px;
    padding: 20px;
    transition: var(--main-transtion-duration);
}

.movie-form img {
    width: 200px;
}

.sec-header {
    display: flex;
    align-items: center;
}

.create-form {
    margin-top: 25px;
}

.create-form .input-container {
    position: relative;
    margin-bottom: 20px;
}
  
.create-form .input-container::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, rgba(var(--secondary-color) ,.8) , rgba(var(--main-color) ,1));
}
  
  
.create-form  #name,
.create-form  #description {
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
}


.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.create-form  ::ng-deep .ng-dropdown-panel {
    border-bottom: 3px solid rgba(var(--main-color) ,1);
}

.create-form  ::ng-deep .ng-select-container  {
    border: none;
}


.create-form .submit-btn {
    text-align: right;
    margin-top: 20px;
}

  
  .create-form .submit-btn button {
    font-size: 18px;
    font-weight: 800;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
  }
  
  .create-form.ng-invalid button {
    background-color: rgba(var(--main-color) ,.7);
    color: rgba(var(--secondary-color) ,.7);
  }
  
  .create-form.ng-valid button {
    background-color: rgba(var(--main-color) ,1);
    color: rgba(var(--secondary-color) ,.85);
  }